*{
    margin: 0;
    padding:0;
}

section{
    position: relative;
    background-color: green;
    justify-content: center;
}

.contenedor{
    width: 25%;
    display: grid;
    border: 1px solid black;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;    
}
section div{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px;
    font-size: 30px;
    align-content: center;
    border: 1px solid rgb(0, 0, 0);

}

.total{
    grid-column: 1/5;
    grid-row: 1/1;
    text-align: end;
    padding-right: 20px;
    background-color: rgba(55, 55, 59, 0.507);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.igual{
    position: relative;
    grid-column: 4;
    grid-row: 3/7;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.5);
}